<main class="container">
  <%= if msg = live_flash(@flash, :info) do %>
    <p
      class="alert alert-info"
      role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="info"
    >
      <%= msg %>
    </p>
  <% end %>

  <%= if msg = live_flash(@flash, :error) do %>
    <p
      class="alert alert-danger"
      role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="error"
    >
      <%= msg %>
    </p>
  <% end %>

  <%= @inner_content %>
</main>
