@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

fieldset {
  display: block;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1.5rem;
}

fieldset fieldset {
  margin: 1rem 0 1rem 1rem;
}

fieldset legend {
  display: block;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: medium;
  padding: 0;
  text-transform: uppercase;
  opacity: 0.6;
}
